.profile-card {
    text-align: center;
}

img {
    max-width: 250px;
    max-height: 250px;

    width: 10%;
    float:inline-start;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


