<div class="card mb-4">
    <h2 class="card-header" *ngIf="restaurant">
        {{restaurant.name}}
    </h2>
    <!-- <app-search-field [callbackFunction]="searchHandle"></app-search-field> -->
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="searchHandle()">
        <mat-form-field class="example-form-field" appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput type="search" formControlName="search">
            <button matSuffix mat-icon-button aria-label="Search" type="submit">
                <mat-icon>search</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div class="card-body" *ngIf="isLoading==false">
        <app-menu-item-card *ngFor="let menuitem of pageSlice" [menuitem]="menuitem" [restaurant]="restaurant">
        </app-menu-item-card>
        <mat-paginator [length]="menuitems.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 20]"
            (page)="OnPageChange($event)" showFirstLastButtons>
        </mat-paginator>
    </div>
</div>