<div class="dataTable-container">

    <mat-card class="example-card" *ngIf="restaurant" (click)="goToRestaurant()">

        <img mat-card-md-image src=" {{restaurantPicture}}" alt="Photo of restaurant">

        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{restaurant.name}}</mat-card-title>
            <mat-card-subtitle [ngStyle]="{'color': '#339933'}">{{restaurant.priceCategory}}</mat-card-subtitle>



            <!-- <mat-card-subtitle>{{restaurant.rating}}</mat-card-subtitle> -->
        </mat-card-header>
        <mat-card-content>
            <p>
                {{restaurant.address.lineOne}}
            </p>
            <p *ngIf="restaurant.address.line2">
                {{restaurant.address.lineTwo}}
            </p>
            <p>
                {{restaurant.address.city}}, {{restaurant.address.state}} {{restaurant.address.zip}}
            </p>
            <app-star-rating [rating]="restaurant.rating"></app-star-rating>

        </mat-card-content>
        <mat-card-content id="distance">
            <p>
                {{(restaurant.rating * restaurant.name.length) | number:'2.0-2'}} mi
            </p>
        </mat-card-content>
    </mat-card>
</div>