<mat-toolbar class="navbar" color="primary">

    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

    <a class="navbar-brand" [routerLink]="['/']" matTooltip="Home">
        <h1>
            Scrumptious
        </h1>
    </a>

    <span class="navbar-spacer"></span>

    <button mat-button [matMenuTriggerFor]="userMenu">
        <mat-icon>person</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">

        <a mat-menu-item [routerLink]="['/account/profile']">
            <mat-icon>person</mat-icon>
            <span>Account</span>
        </a>

        <a mat-menu-item [routerLink]="['/auth/login']">
            <mat-icon>exit_to_app</mat-icon>
            <span>Log out</span>
        </a>

    </mat-menu>

    <button mat-icon-button *ngIf="order" (click)="drawer2.toggle()">
        <mat-icon matBadge="{{ order.menuitemOrders?.length }}" matBadgeColor="accent">
            shopping_basket
        </mat-icon>
    </button>



</mat-toolbar>