<div class="cart-overview">
    <h2 class="mat-title">Summary</h2>


    <div class="parent-text-box">
        <p class="mat-body-strong">
            SubTotal:
        </p>
        <p class="mat-body-strong">
            ${{subtotal | number: '1.2-2'}}
        </p>
    </div>
    <div class="parent-text-box">
        <p class="mat-body-strong">
            Delivery Fee:
        </p>
        <p class="mat-body-strong">
            ${{deliveryFee | number: '1.2-2'}}
        </p>
    </div>
    <div class="parent-text-box">
        <p class="mat-body-strong">
            Fees & Tax:
        </p>
        <p class="mat-body-strong">
            ${{feeTax | number: '1.2-2'}}
        </p>
    </div>
    <div class="parent-text-box">
        <p class="mat-body-strong">
            Total:
        </p>
        <p class="mat-body-strong">
            ${{total | number: '1.2-2'}}
        </p>
    </div>
</div>