mat-card {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 5px;
}

mat-card-header{
    width: 175px;
}

mat-card-content{
    width: 100%;
}

mat-card-actions {
    width: 100px;
}

#distance {
    width: 100px;
}