mat-card {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    margin-bottom: 5px;
}

mat-card-header{
    width: 175px;
}

mat-card-content{
    width: 100%;
}

mat-card-actions {
    width: 100px;
}

#tags{
    width: 500px;
    margin-left: 20px;
    margin-right: 20px;
}
#distance {
    width: 150px;
}

.tag {
    border: solid 1px #000;
    border-radius: 10px;
    padding: 5px;
    width: max-content;
}