<mat-nav-list>

    <a mat-list-item [routerLink]="['/home']" routerLinkActive="active">
        <mat-icon mat-list-icon>
            dashboard
        </mat-icon>
        <span mat-line> Dashboard </span>
    </a>

    <a mat-list-item [routerLink]="['/restaurants']" routerLinkActive="active">
        <mat-icon mat-list-icon>
            business
        </mat-icon>
        <span mat-line> Restaurants </span>
    </a>

    <a mat-list-item [routerLink]="['/orders/history']" routerLinkActive="active">
        <mat-icon mat-list-icon>
            history
        </mat-icon>
        <span mat-line> Order history </span>
    </a>

    <mat-divider></mat-divider>

    <a mat-list-item [routerLink]="['/account/profile']">
        <mat-icon mat-list-icon>person</mat-icon>
        <span mat-line> Account </span>
    </a>

    <a mat-list-item (click)="logout()" [routerLink]="['/auth/login']">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span mat-line> Log out </span>
    </a>

    <a id="push-bottom" mat-list-item [routerLink]="['/about']" routerLinkActive="active">
        <mat-icon mat-list-icon>
            info_outline
        </mat-icon>
        <span mat-line> About </span>
    </a>
</mat-nav-list>