<div class="navbar-container">

    <!-- Top navbar -->
    <app-header class="navbar" [order]="order" [drawer]="drawerSidenav" [drawer2]="drawer3"></app-header>

    <!-- Content -->
    <mat-sidenav-container class="navbar-sidenav-container">

        <!-- Drawer Side Nav -->
        <mat-sidenav #drawerSidenav [opened]="(isHandset$ | async) === false"
            [mode]="(isHandset$ | async) ? 'over' : 'side'" fixedInViewport
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" fixedTopGap="56" class="sidenav"
            position="start">
            <app-left-drawer-sidenav>
            </app-left-drawer-sidenav>
        </mat-sidenav>

        <!-- Drawer Current Order -->
        <mat-sidenav #drawer3 [opened]="(isHandset$ | async) === false" [mode]="(isHandset$ | async) ? 'over' : 'side'"
            fixedInViewport style="width: 15%; min-width: 15%; max-width: 15%;"
            [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" fixedTopGap="56" position="end">
            <app-right-drawer-current-order [order]="order" [customer]="customer"></app-right-drawer-current-order>
        </mat-sidenav>

        <!-- Main content -->
        <mat-sidenav-content class="sidenav-content">
            <div class="progress-bar-container">
                <mat-progress-bar color="accent" mode="indeterminate" *ngIf="spinnerService.visibility | async">
                </mat-progress-bar>
                <mat-spinner class="spinner" [diameter]="50" *ngIf="showSpinner"></mat-spinner>
            </div>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>