<h1 mat-dialog-title>{{data.menuitem.name}}</h1>
<p mat-dialog-subtitle>${{ (data.menuitem.price * data.quantity) | number: '1.2-2'}}</p>
<div mat-dialog-content>
    <p>{{data.menuitem.description}}</p>
    <mat-form-field appearance="outline">
        <mat-label>Enter quantity</mat-label>
        <input matInput placeholder="1" mask="099" [(ngModel)]="data.quantity" required>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button mat-raised-button type="submit" color="primary" [mat-dialog-close]="data.quantity"
        [disabled]="!data.quantity || data.quantity == 0">Ok</button>
</div>