.floating-background {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
}

.floating-h3 {
    background-color: white;
    margin: 5px;
    padding: 5px;
    width: auto;
    border-radius: 5px;
    text-align: center;
}

.items-container {
    background: rgba(0,0,0,.5);
    padding: 7px 0px;
    overflow: auto;
}